.app-container {
    height: 100vh;
    width: 100vw;
    padding: 20px;

    header {
        text-align: center;
        margin-bottom: 20px;

        h1 {
            font-size: 28px;
            color: #61dafb;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            color: #c0c0c0;
        }
    }

    main {
        h2 {
            margin-top: 30px;
            font-size: 24px;
            color: #61dafb;
        }

        nav {
            margin-top: 20px;

            h2 {
                font-size: 20px;
                color: #61dafb;
                margin-bottom: 10px;
            }
        }

        section {
            margin-top: 20px;

            h2 {
                font-size: 20px;
                color: #61dafb;
                margin-bottom: 10px;
            }

            ul {
                li {
                    margin-bottom: 10px;
                    background-color: #3d424e;

                    a {
                        color: #fff;
                        text-decoration: none;
                        transition: color 0.3s;

                        &:hover {
                            color: #61dafb;
                        }
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding: 8px;
                margin-bottom: 10px;
                background-color: #3d424e;
                border-radius: 4px;

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: color 0.3s;

                    &:hover {
                        color: #61dafb;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        main {
            section {
                ul {
                    li {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}
