* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #282c34;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    outline: none;
    background-color: #61dafb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #209cee;
    }
}

h2 {
    font-size: 20px;
    margin: 0;
}
